@import "../../../global.scss";
@import "../../variables.scss";

.column {
    text-align: center;
    line-height: $navbar-height;
    user-select: none;
    background-color: greenyellow;
}

// .column-item{
// }