@import "../../global.scss";

#site-name{
    &{
        text-decoration: none;
        color: black;
    }
    &.site-name{
        display: flex;
    }
    > .icon, .text{
        height: $navbar-height;
    }
    > .icon{
        flex: 0 0 $navbar-height;
        padding: $navbar-padding;
    }
    
    > .text{ 
        flex: 1;
        font-size: calc($navbar-height - $navbar-padding);
    
        user-select: none;
    }
}



