@import "../../../global.scss";
@import "../../variables.scss";

.column-item {
    width: $nav-item-width;
    height: 50px;
    line-height: 50px;
    text-align: center;
    user-select: none;
    background-color: darken(greenyellow, $amount: 10);
}