@import "../../global.scss";

#menu {
    .icon {
        height: $navbar-height;
        width: $menu-width;
        padding: $navbar-padding;
    }
}

#menu-popover {
    .column-item {
        width: 100px;
        height: 50px;
    }
}