@import "../../global.scss";
@import "../variables.scss";

.navigation{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    font-size: calc($navbar-height / ($num-nav-columns - 1));
}

.column{
    flex: 0 $nav-item-width;
}