@import "../global.scss";
@import "./variables.scss";

$search-toogle-transition-time: 0.4s;

nav {
    &.top {
        display: flex;
        align-items: center;
        width: 100%;
        height: $navbar-height;
    }

    &>* {
        height: 100%;
        background-color: $background-color;
    }

    .sitename {
        flex: 0 0 $sitename-width;
        background-color: darken($color: $background-color, $amount: 10);
    }

    .navigation {
        transition: $search-toogle-transition-time all;
        flex-grow: 1;
        background-color: darken($color: $background-color, $amount: 20);
    }

    .navigation-hidden{
        @extend .navigation;
        width: 0;
        flex: 0 0 0;
    }
    .navigation-hidden *{
        display: none;   
    }

    .searchbar {
        flex: 0 0 $searchbar-width;
        background-color: darken($color: $background-color, $amount: 30);
        transition: $search-toogle-transition-time all;
    }

    .searchbar-expanded{
        @extend .searchbar;
        flex: 1 1;
        margin-left: auto;
    }

    .menu {
        flex: 0 0 $menu-width;
        background-color: darken($color: $background-color, $amount: 40);
    }
}