@import "../global.scss";

$search-toogle-transition-time: 0.4s;

#top-nav {
    & >* {
        height: 100%;
    }

    &.top {
        display: flex;
        align-items: center;
        width: 100%;
        height: $navbar-height;
    }
}

#top-nav > {
    .sitename {
        flex: 0 0 $sitename-width;
    }

    .navigation {
        transition: $search-toogle-transition-time all;
        flex-grow: 1;
    }

    .navigation-hidden{
        @extend .navigation;
        width: 0;
        flex: 0 0 0;
    }
    .navigation-hidden *{
        display: none;   
    }

    .searchbar > *{
        transition: calc($search-toogle-transition-time*1.1) all;
    }

    .searchbar {
        flex: 0 0 $searchbar-icon-width;
        transition: $search-toogle-transition-time all;
    }

    .searchbar-expanded{
        flex: 1 1;
        margin-left: auto;
    }

    .menu{
        flex: 0 0 $menu-width;
    }
}