$navbar-height: 50px;
$sitename-width: 200px;
$searchbar-width: 100px;
$menu-width: 100px;
$navigation-width: calc(100vw - $sitename-width - $searchbar-width - $menu-width);

$background-color: aqua;
