@import "../../global.scss";

main {
    width: 100%;
    display: flex;
}

main .content {
    padding: 20px;
    padding-top: 0;
    flex-grow: 1;
    height: 100%;
    min-height: 100vh;
}

main .left {
    flex-basis: $sitename-width;
    flex-shrink: 0;
    height: 100%;
}