@import "../../global.scss";

#searchbar{
    .icon{
        width: $navbar-height;
        height: $navbar-height;
        float: right;
        padding: $navbar-padding;
    }
    
    .input{
        margin: 0;
        width: 0;
        height: calc($navbar-height - $navbar-padding * 2);
    }
    
    .input:focus{
        margin: $navbar-padding;
        width: calc($searchbar-width - $navbar-padding * 4);
    }
}
