@import "../../global.scss";

.searchbar-icon{
    width: $navbar-height;
    height: $navbar-height;
    float: right;
    padding: $navbar-padding;
}

.searchbar-input{
    margin: 0;
    height: 0;
    width: 0;
}

.searchbar-input:focus{
    margin: $navbar-padding;
    height: calc($navbar-height - $navbar-padding * 2);
    width: calc($navigation-width - $navbar-padding * 4);
}